.order-history-container{
	    width: 85%;
    max-width: 100%;

    .two-grid-column{
    	margin:0 auto;
    	.select-location{
    		.planRegis-form{
    			width:90%;
    		}
		}	

		.date-filter-box{

		}
    }
	
}