/*Plan inquiry screen*/
.plan-inquiry-container{
	width:85%;
	max-width:100%;
	/*padding:0 1em;*/

	.search-container{
		margin-top:7%;
		/*grid-gap: 2em 2em;*/
	}

	.manual-search-container{
		width:100%;
		max-width:100%;
		height:auto;
		display: grid;
		grid-row-gap: 2em;
		padding: 10px;
		margin:0 auto;
		.date-filter-box{
			border:2px solid $grey-text;
			height:auto;
			p{
				width: 100%; 
			   text-align: center; 
			   border-bottom: 1px dashed $grey-text; 
			   line-height: 0.1em;
			   margin: 20px 0 20px; 
				
				span{
					background:#fff; 
				 	padding:0 10px; 
				}
			}

			.date-filter-form{
				max-width:100%;
				height:auto;
				display: flex;
				flex-flow: row;
				justify-content: space-around;
				align-items: center;

				div:nth-child(1){
					width:100%;
					height:auto;
					/*background-color: yellow;*/
				}

				div:nth-child(2){
					width:100%;
					height:auto;
					
				}

				input{
					margin:5px;
				}
				i{
					font-size: 1.5em;
					color:$zucora-purple;
				}

				span{
					font-size:18px;
					font-weight: 700;
					font-family: $para-fonts;
					margin-left:2em;
				}

			}

		}


		.filter-param-box{
				display: grid;
				grid-template-columns: auto auto auto;
				grid-gap:1em 1em;
				max-width:100%;
				height:auto;

				.filter-box{
					border:2px solid $grey-text;
					background-color: white;
					min-height: 300px;
					height:auto;

					p{
						padding:10px;
						cursor: pointer;
						&:hover{
							background-color: $zucora-mint-green;
							transition: all ease-in 0.5;
						}
					}
				}

			.selected{
				background-color: $zucora-mint-green;
				transition: all ease-in 0.5;
			}
		}
	}

	.advance-search-container{
		width:100%;
		max-width:100%;
		height:auto;
		display: grid;
		grid-row-gap: 2em;
		padding:10px;
		margin:0 auto;

		.advance-search-form{
			border:2px solid $grey-text;
			
			.planRegis-form{
				width:90%;
				padding:1em 0;
				div{
					padding:0;
				}
				label{
					@extend %label;
				}

				input{
					@extend %input;
				}

				select{
					@extend %select;
				}

				a{
					margin:5px 10px;
				}
			}
		}
	}

	.allPlans-container{
		width:100%;
		margin:3em auto;
		border:2px solid $grey-text;

		.title{
			p{
				margin:0 10px;
			}
		}

		.new-planAdd-detail{
			display: block;
			border:2px solid #d3d3df;

			table{
				td{
					i{
						cursor: pointer;
					}
				}
			}
		}
	}	
}