<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Zucora Home: Event page</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
  <link href="../../Content/Zuc/styles/SRS-system.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <!-- [ FONTS ]-->
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
  <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
  <!-- [ JQUERY ]-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../../Scripts/Zuc/js/navigation.js"></script>
  <!-- [ RESPONSIVE VIEWPORT ]-->
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body>
  <!-- Site Navigation-->
  <div class="zuc-nav-wrapper srs-nav-container" data-nav-height>
    <!-- Main Navigation-->
    <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
      <!-- Nav Branding-->
      <a class="zuc-nav-brand" href="srs-login.html"><img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg"></a>
      <!-- Nav Links-->
      <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
        <!-- First -->
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Plans</span>
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="plan-registration.html" title="Plan Registration" aria-role="menu-item">Plan Registration</a>
                <a href="plan-inquiry.html" title="Plan Registration Inquiry" aria-role="menu-item">Plan Inquiry</a>

                <a href="plan-pending-registrations.html" title="Registration History" aria-role="menu-item">Registration History</a>
              </div>
            </div>
          </div>
        </div>
        <div class="zuc-nav-dropdown"><span class="u-uppercase">Orders</span>
          <!-- Drop Down-->
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="order-entry.html" title="Order Entry" aria-role="menuitem">Entry</a>
                <a href="order-history.html" title="Order History" aria-role="menuitem">Order History</a>
              </div>
            </div>
          </div>
        </div>

        <div class="zuc-nav-dropdown "><i class="fa fa-user-alt"></i><span class="u-uppercase"> User name</span>
          <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
            <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
              <!-- Dropdown links -->
              <div class="zuc-dropdown-column">
                <a href="retailer-profile.html">Profile</a>
                <a href="#/">Log out</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Mobile Nav Button-->
      <div class="zuc-menu">
        <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span>
        </div>
      </div>
    </nav>
    <!-- Mobile Navigation-->
    <div class="zuc-mobile-nav" data-mobile-menu>
      <!-- Top Branding CTA-->
      <div class="zuc-mobile-nav-content">
        <a href="https://zucorahome.com/" title="Zucora Home">
          <img src="../../Images/Zuc/images/ZucoraHome-brand-white.svg" alt="Zucora Home">
        </a>
      </div>
      <div class="zuc-accordion-nav" role="menu" aria-role="menu">
        <!--Plans Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Plans<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="plan-registration.html" title="Plan Registration" aria-role="menuitem">Plan Registration</a>
            <a class="zuc-accordion-link" href="plan-inquiry.html" title="Plan Registration Inquiry" aria-role="menuitem">Plan Registration Inquiry</a>

            <a class="zuc-accordion-link" href="plan-reporting.html" title="Registration History" aria-role="menuitem">Registration History/a>
          </div>
        </div>
        <!--Orders Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title">Orders<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="order-entry.html" title="Order Entry" aria-role="menuitem">Order Entry</a>
            <a class="zuc-accordion-link" href="order-history.html" title="Order History" aria-role="menuitem">Order History</a>
          </div>
        </div>
        <!--Username Links ---------------------------------->
        <div class="zuc-accordion-item" data-accordion-item>
          <div class="zuc-accordion-title"><i class="fa fa-user-alt"></i>User name<i class="zuc-accordion-arrow fas fa-angle-right"></i></div>
          <!-- Hidden Content-->
          <div class="zuc-accordion-hidden" aria-hidden="true">
            <a class="zuc-accordion-link" href="retailer-profile.html" title="Profile" aria-role="menuitem">Profile</a>
            <a class="zuc-accordion-link" href="#/" title="Log Out" aria-role="menuitem">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Main page content-->
  <section class="center plan-inquiry-container">
    <h1 class="srs-heading">Plan registration inquiry</h1>
    <div class="two-grid-column search-container">
      <!-- first div -->
      <div class="manual-search-container">

        <div class="inquiry-date-filter">
          <div class="dotted-line-text width-80">
            <p class="u-bold u-uppercase"><span>Effective date</span></p>
          </div>
          <form class="">
            <div class="flex flex-row flex-vert-center width-80 flex-hor-center">
              <label for="from-date">
                <span>From</span>
                <div class="flex flex-row flex-vert-center">
                  <!-- <i class="fa fa-calendar-alt"></i> -->
                  <input type="text" name="inquiry-date-from" placeholder="MM/DD/YY">
                </div>
              </label>

              <label for="from-date">
                <span> To</span>
                <div class="flex flex-row flex-vert-center">
                  <!-- <i class="fa fa-calendar-alt"></i> -->
                  <input type="text" name="inquiry-date-to" placeholder="MM/DD/YY">
                </div>
              </label>
            </div>
            <div class="filter-param-box">
              <div>
                <p class="u-bold">Select Plan (Filter):</p>
                <div class="filter-box">
                  <a href="#">
                    <p class="u-uppercase selected">All</p>
                  </a>
                  <p>Submitted</p>
                  <p>Pending</p>
                  <p>Registered</p>
                  <p>Canceled</p>
                </div>
              </div>
              <div>
                <p class="u-bold">Select Location (Filter):</p>
                <div class="filter-box">
                  <p class="u-uppercase selected">All</p>
                  <p>Westmall</p>
                  <p>Sunnyridge</p>
                </div>
              </div>
              <div>
                <p class="u-bold">Select Advisor (Filter):</p>
                <div class="filter-box">
                  <p class="u-uppercase selected">All</p>
                  <p>Bob Doe</p>
                  <p>Gary Tip</p>
                  <p>Ken Sandler</p>
                  <p>First last name</p>
                  <p>First last name</p>
                  <!-- <p>First last name</p> -->
                </div>
              </div>
            </div>
            <div class="flex flex-hor-end">
              <button class="zuc-btn zuc-btn-secondary" style="margin:10px;">Filter</button>
            </div>

          </form>
        </div>

      </div>
      <!-- 2nd div -->
      <div class="advance-search-container">
        <div class="advance-search-form">
          <div class="purple-background">
            <h2>Plan Search</h2>
          </div>
          <form class="planRegis-form">

            <div class="planRegis-divStyle flex-vert-center flex-hor-center">
              <label for="first-name">First Name:</label>
              <input type="text" name="search-first-name" value="" class="" required="" placeholder="First name">
            </div>
            <div class="planRegis-divStyle flex-vert-center flex-hor-center">
              <label for="last-name">Last Name:</label>
              <input type="text" name="search-last-name" value="" class="" required="" placeholder="Last Name">
            </div>
            <div class="planRegis-divStyle flex-vert-center flex-hor-center">
              <label for="search-email">Email:</label>
              <input type="text" name="search-email" value="" class="" required="" placeholder="Email Address">
            </div>
            <div class="planRegis-divStyle flex-vert-center flex-hor-center">
              <label for="search-phone">Phone:</label>
              <input type="text" name="search-phone" value="" class="" required="" placeholder="Phone Number">
            </div>
            <div class="planRegis-divStyle flex-vert-center flex-hor-center">
              <label for="search-orderNum">Order/Inv #:</label>
              <input type="text" name="search-orderNum" value="" class="" required="" placeholder="Order/In #">
            </div>
            <div class="flex flex-vert-end flex-hor-end width-80">
              <a href="#/" class="zuc-btn zuc-btn-secondary" type="submit">Search</a>
            </div>
          </form>
        </div>
      </div>
      <!-- two grid closing -->
    </div>
    <!-- Table -->
    <div class="allPlans-container">
      <div class="purple-background">
        <h2>Protection Plans</h2>
      </div>
      <div class="flex flex-row flex-vert-center title">
        <p class="u-bold">Plan Status: ALL</p>
        <p class="u-bold">Location: ALL</p>
        <!-- <p class="u-bold">Associate: ALL</p> -->
      </div>
      <div class="new-planAdd-detail allPlans-table">
        <table>
          <thead>
            <tr>
              <th scope="col">Effective Date</th>
              <th scope="col">Customer</th>
              <th scope="col">Registration ID</th>
              <th scope="col">Ord/Inv</th>
              <th scope="col">Covered Item $</th>
              <th scope="col">SKU</th>
              <th scope="col">Plan Price</th>
              <th scope="col">Plan Cost</th>
              <th scope="col">Status</th>
              <th scope="col">Edit</th>
              <th scope="col">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Effective Date">09/14/19</td>
              <td data-label="Customer">Jane Doe</td>
              <td data-label="Registration">1234567891</td>
              <td data-label="Ord/Inv">RET101</td>
              <td data-label="Covered Item">$971.99</td>
              <td data-label="SKU">ZC$500-$999</td>
              <td data-label="Plan Price">$49.99</td>
              <td data-label="Plan Cost">$20.00</td>

              <td data-label="Status">Pending</td>

              <td data-label="Edit"><a href="javascript:void(0)" class="open-PlanRegis"><i class="fa fa-pencil-alt"></i></a></td>
              <td data-label="Delete"><a href="javascript:void(0)" class="openCancelation-container"><i class="fa fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td data-label="Effective Date">09/14/19</td>
              <td data-label="Customer">Jane Doe</td>
              <td data-label="Registration">1234567891</td>
              <td data-label="Ord/Inv">RET101</td>
              <td data-label="Covered Item">$971.99</td>
              <td data-label="SKU">ZC$500-$999</td>
              <td data-label="Plan Price">$49.99</td>
              <td data-label="Plan Cost">$20.00</td>

              <td data-label="Status">Pending</td>

              <td data-label="Edit"><a href="javascript:void(0)" class="open-PlanRegis"><i class="fa fa-pencil-alt"></i></a></td>
              <td data-label="Delete"><a href="javascript:void(0)" class="openCancelation-container"><i class="fa fa-trash-alt"></i></a></td>
            </tr>
            <tr>
              <td data-label="Effective Date">09/14/19</td>
              <td data-label="Customer">Jane Doe</td>
              <td data-label="Registration">1234567891</td>
              <td data-label="Ord/Inv">RET101</td>
              <td data-label="Covered Item">$971.99</td>
              <td data-label="SKU">ZC$500-$999</td>
              <td data-label="Plan Price">$49.99</td>
              <td data-label="Plan Cost">$20.00</td>

              <td data-label="Status">Registered</td>

              <td data-label="Edit"><i class="fa fa-pencil-alt" style="visibility: hidden;"></i></td>
              <td data-label="Delete"><a href="javascript:void(0)" class="openCancelation-container"><i class="fa fa-trash-alt"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="popup-modals-container">
    <div class="cancelation-modal non-visible">
      <div class="plan-cancelation-container">
        <span class="cross close-modal">X</span>
        <h1 class="srs-heading">Cancel Plan Registration</h1>

        <div class="plan-cancelation">
          <!-- Left side div -->
          <div class="plan-search-field">
            <form class="search-form">
              <label for="search" class="profileBox-heading">Profile Registration ID:</label>
              <div class="flex flex-vert-end flex-hor-center">
                <input type="text" placeholder="Search.." name="cancelPlan-search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </div>
            </form>
            <!-- search params -->
            <div class="search-param-result margin-top-1">
              <h3 class="profileBox-heading">Plan Details:</h3>

              <div class="flex">
                <div class="flex-column" style="margin-right:2vw">
                  <p class="u-bold" scope="col">Status:</p>
                  <p class="u-bold" scope="col">Location:</p>
                  <p class="u-bold" scope="col">Ord/Inv Ref:</p>
                  <p class="u-bold" scope="col">Sale Date:</p>
                  <p class="u-bold" scope="col">Est. Delivery:</p>
                  <p class="u-bold" scope="col">Advisor:</p>
                  <p class="u-bold" scope="col">Customer:</p>
                  <p class="u-bold" scope="col">Phone:</p>
                  <p class="u-bold" scope="col">Email:</p>
                  <p class="u-bold" scope="col">Plan Type:</p>
                  <p class="u-bold" scope="col">Plan ID:</p>
                  <p class="u-bold" scope="col">Plan Price:</p>

                </div>
                <div class="flex-column">
                  <p>Pending</p>
                  <p>Westmall</p>
                  <p>BB17098</p>
                  <p>07/08/19</p>
                  <p>12/08/19</p>
                  <p>Bob Doe</p>
                  <p>John Wagner</p>
                  <p>519-896-7979</p>
                  <p>customer@emailAddress.com</p>
                  <p>Furniture</p>
                  <p>ZC$1299-1599</p>
                  <p>$199.99</p>

                </div>
              </div>
            </div>
          </div>
          <!-- right side div -->
          <div class="reason-container">
            <h3 class="profileBox-heading">Reasons for Cancelation:</h3>
            <textarea name="paragraph_text" cols="50" rows="10" placeholder="Customer decided they could not wait for special order Sofa and Chair."></textarea>
          </div>
          <!-- Main div Plan cancelation ends -->
        </div>
        <div class="search-plan-details">
          <div class="plan-registration-box center">
            <div class="purple-background">
              <h2>Plans and Covered Items</h2>
            </div>
            <div class="new-planAdd">
              <div class="new-planAdd-title flex flex-row flex-vert-center flex-hor-between">
                <p><i class="far fa-plus-square change-icon"></i><span>Zucora Complete - Furniture ($1499 - $1999)</span> - Price: $199.99 Registration Number Registration Number: ZH123456</p>
              </div>
              <div class="new-planAdd-detail">
                <table class="">
                  <thead>
                    <tr>
                      <th scope="col" style="width:7%;">Item</th>
                      <th scope="col" style="width:5%;">QTY</th>
                      <th scope="col">Description</th>
                      <th scope="col">SKU Number</th>
                      <th scope="col">Brand/Model</th>
                      <th scope="col">Serial NBR</th>
                      <th scope="col">Unit Price</th>
                      <th scope="col">Total</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td data-label="Item">Sofa</td>
                      <td data-label="QTY">1</td>
                      <td data-label="Description">Reynolds Grey</td>
                      <td data-label="SKU Number">731465289</td>
                      <td data-label="Brand/Model">Reynolds</td>
                      <td data-label="Serial NBR">STR23456790</td>
                      <td data-label="Unit Price">$999.99</td>
                      <td data-label="Total">$999.99</td>


                    </tr>
                    <tr>
                      <td scope="row" data-label="Item">Chair</td>
                      <td data-label="QTY">1</td>
                      <td data-label="Description">Reynolds Grey</td>
                      <td data-label="SKU Number">731465898</td>
                      <td data-label="Brand/Model">Reynolds</td>
                      <td data-label="Serial NBR">XYZ123456779</td>
                      <td data-label="Unit Price">$299.99</td>
                      <td data-label="Total">$599.98</td>

                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--new-planAdd ends -->
          </div>
          <!--Plan-registration-box ends -->
        </div>
        <div class="flex-hor-center flex-vert-center margin-top-1 width-80 center margin-bottom-2" style="display: flex;margin:2em auto;">
          <p class="warning-text">This plan cannot be cancelled due to a claim being processed by the customer under this plan. Please contact registrations@zucorahome.com for more information.</p>
          <button class="zuc-btn zuc-btn-secondary  u-soft-shadow cancelPlan-Button" type="submit">Cancel plan</button>
        </div>


      </div>
    </div>
    <!-- Plan registration modal -->
    <section class="planRegistration-modal-container non-visible">
      <div class="planRegistration-modal">
        <span class="cross close-modal">X</span>
        <h1 class="srs-heading">Plan Registration</h1>

        <section class="plan-registration-container width-80 center">
          <div class="planRegis-form-container flex flex-column">

            <form class="planRegis-form">
              <div class="formField-data-controller">
                <div><a href="#/" class="simple-link"><i class="fas fa-paste"></i>Same as previous data</a></div>
                <div><a href="#/" class="simple-link"><i class="fas fa-eraser"></i>Clear the Data</a></div>
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="location">Location*:&nbsp;</label>
                <select name="store-location" required>
                  <option value="">Store Location</option>
                  <option value="Leon- London South">Leon- London South</option>
                  <option value="Tepperman-london">Tepperman-london</option>
                  <option value="Hudson Bay- Montereal">Hudson Bay- Montereal</option>
                </select>
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="order-number">Ord/Inv Ref*:&nbsp;</label>
                <input type="text" required="" name="order number" placeholder="" value="" id="">
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="sale-date">Sale Date*:&nbsp;</label>
                <input type="text" required="" name="sale-date" placeholder="MM/DD/YY" value="" id="">
              </div>
              <div class="info-grid">
                <label for="est-delivery-date">Est. Last Delivery Date*:</label>
                <!-- <i class="fa fa-calendar-alt"></i> -->
                <input type="text" required="" name="sale-date" placeholder="MM/DD/YY" value="" id="">
                <i class="fa fa-info-circle info-circle"></i>
                <div class="info-text-container">
                  <i class="fa fa-caret-up"></i>
                  <p class="info-text">Please indicate the last expected delivery date for the last item being delivered (examples may include Backordered or special order items). Also referred to as the “Plan Start Date”, any items delivered prior
                    to this
                    Estimated Last Date of Delivery will still adhere to the full Terms and Conditions of the plan purchased. This date indicates the beginning of the plan duration and will last the term set out in your Plan Agreement. </p>
                </div>
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="advisor">Advisor:</label>
                <select name="store-location" required>
                  <option value="">Advisor Name</option>
                  <option value="Leon- London South">John Doe</option>
                  <option value="Tepperman-london">Jane Doe</option>
                  <option value="Hudson Bay- Montereal">John Jane</option>
                </select>
              </div>
              <div class="twoInput-fields flex-vert-center flex-hor-center">
                <label for="customer-name">Customer*:</label>
                <input type="text" required="" name="cust-first-name" placeholder="First Name" value="" id="">
                <input type="text" class="hidden-field" disabled>
                <input type="text" required="" name="cust-last-name" placeholder="Last Name" value="" id="">
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="customer-phone">Customer Phone*:</label>
                <input type="text" required="" name="customer-phone" placeholder="Phone(Required)" value="" id="">
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="customer-email">Customer Email*:</label>
                <input type="text" required="" name="customer-email" placeholder="Email(Required)" value="" id="">
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="rate-card">Rate Card*:</label>
                <select name="store-location" required>
                  <option value="none">Select Rate Card</option>
                  <option value="Leon- London South">10%</option>
                  <option value="Tepperman-london">15%</option>
                  <option value="Hudson Bay- Montereal">20%</option>
                </select>
              </div>
              <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                <label for="sku">SKU*:</label>
                <select name="store-location" required>
                  <option value="">SKU Description</option>
                  <option value="Leon- London South">XYZ</option>
                  <option value="Tepperman-london">Loreum Ipsum</option>
                  <option value="Hudson Bay- Montereal">Loreum Ipsum</option>
                </select>
              </div>
              <!--  <div class="flex flex-row flex-vert-center">
                        <label for="order-number">Retail Plan Price Paid*:</label>
                        <input type="text" required="" name="retail-price-paid" placeholder="$[MSRP]" value="" id="">
                      </div> -->

              <div class="flex planRegis-button">
                <button class="zuc-btn zuc-btn-secondary u-soft-shadow addPlanButton" type="submit">Add plan</button>

              </div>

            </form>
            <div class="plan-registration-box center">
              <div class="purple-background">
                <h2>Plans and Covered Items</h2>
              </div>
              <div class="new-planAdd">
                <div class="new-planAdd-title flex flex-row flex-vert-center flex-hor-between">
                  <p><i class="far fa-plus-square change-icon"></i><span>Zucora Complete - Furniture ($1499 - $1999)</span> - Price: $199.99 Registration Number Registration Number: ZH123456</p>
                  <button class="zuc-btn zuc-btn-secondary u-soft-shadow addItemModal-button" type="">Add item</button>
                </div>
                <div class="new-planAdd-detail">
                  <table class="">
                    <thead>
                      <tr>
                        <th scope="col" style="width:7%;">Item</th>
                        <th scope="col" style="width:5%;">QTY</th>
                        <th scope="col">Description</th>
                        <th scope="col">SKU Number</th>
                        <th scope="col">Brand/Model</th>
                        <th scope="col">Serial NBR</th>
                        <th scope="col">Unit Price</th>
                        <th scope="col">Total</th>
                        <th scope="Edit" style="width:5%;"></th>
                        <th scope="Delete" style="width:5%;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td data-label="Item">Sofa</td>
                        <td data-label="QTY">1</td>
                        <td data-label="Description">Reynolds Grey</td>
                        <td data-label="SKU Number">731465289</td>
                        <td data-label="Brand/Model">Reynolds</td>
                        <td data-label="Serial NBR">STR23456790</td>
                        <td data-label="Unit Price">$999.99</td>
                        <td data-label="Total">$999.99</td>
                        <td data-label="Edit"><a href="javascript:void(0)" class="addItemModal-button"><i class="fa fa-pencil-alt"></i></a></td>
                        <td data-label="Delete"><a href="javascript:void(0)"><i class="fa fa-trash-alt"></i></a></td>

                      </tr>
                      <tr>
                        <td scope="row" data-label="Item">Chair</td>
                        <td data-label="QTY">1</td>
                        <td data-label="Description">Reynolds Grey</td>
                        <td data-label="SKU Number">731465898</td>
                        <td data-label="Brand/Model">Reynolds</td>
                        <td data-label="Serial NBR">XYZ123456779</td>
                        <td data-label="Unit Price">$299.99</td>
                        <td data-label="Total">$599.98</td>
                        <td data-label="Edit"><a href="javascript:void(0)" class="addItemModal-button"><i class="fa fa-pencil-alt"></i></a></td>
                        <td data-label="Delete"><a href="javascript:void(0)"><i class="fa fa-trash-alt"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--new-planAdd ends -->
            </div>
            <!--Plan-registration-box ends -->
          </div>
          <!--planRegis-form-container ends-->
        </section>
        <!--plan-registration-container section ends-->
        <div class="planRegis-controls">
          <div><a href="#" class="simple-link remove-planRegis">Remove Plan Registration</a></div>
          <div><button class="zuc-btn zuc-btn-secondary u-soft-shadow planRegis-mainSubmit-button" type="submit">Submit</button></div>
        </div>
        <!-- planRegis ends -->
        <!-- Pop up section starts -->
        <section class="popup-modals-container">
          <!-- All modal in one div -->
          <div class="addItem-modal non-visible">
            <!-- AddItem form modal  starts-->
            <div class="addItem-form">
              <div class="purple-background">
                <h2>Covered Item(s)</h2>
              </div>
              <form class="planRegis-form">
                <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                  <label>Equipment Type:</label>
                  <select name="product-type" required>
                    <option value="">[Furniture, Appliances, Adjustable Base]</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Appliances">Appliances</option>
                    <option value="Adjustable Base">Adjustable Base</option>
                  </select>
                </div>
                <div class="planRegis-divStyle flex-vert-center flex-hor-center grey-field">
                  <label>Product Type:</label>
                  <select name="product-type" required>
                    <option value="">Product Type</option>
                    <option value="xyz">XYZ</option>
                    <option value="123">123</option>
                    <option value="loreum ipsum">Loreum Ipsum</option>
                  </select>
                </div>
                <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                  <label>Classification:</label>
                  <input type="text" name="classification" value="" placeholder="Text here" required>
                </div>
                <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                  <label>Description:</label>
                  <input type="text" name="description" value="" placeholder="e.g. Sofa, Chair, Lovesear (Optional)" required>
                </div>
                <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                  <label>SKU Number:</label>
                  <input type="text" name="sku-number" value="" placeholder="SKU Number (Optional)" required="">
                </div>
                <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                  <label>Manufacturer:</label>
                  <input type="text" name="planRegist-manufacturer" value="" placeholder="Manufacturer" required="">
                </div>
                <div class="planRegis-divStyle flex-vert-center flex-hor-center">
                  <label>Serial Number:</label>
                  <input type="text" name="serial-number" value="" placeholder="Serial Number (Optional)" required="">
                </div>
                <div class="formField-data-controller mobile-column">
                  <div class="flex flex-row flex-vert-center addItem-quantity">
                    <div class="label">Quantity:</div>
                    <input type="button" value="-" class="button-minus" data-field="quantity">
                    <input type="text" name="quantity" value="1" class="quantity-input">
                    <input type="button" value="+" class="button-plus" data-field="quantity">
                  </div>

                  <div class="addItem-PPI">
                    <label>Price per item:</label>
                    <input type="text" name="pricePer-item" value="" placeholder="$" required="">
                  </div>
                </div>
                <div class="flex flex-vert-center flex-hor-end margin-top-1 width-80">
                  <div><a href="javascript:void(0)" class="zuc-btn zuc-btn-secondary u-soft-shadow margin-10">Add more</a></div>
                  <div><button class="zuc-btn zuc-btn-secondary u-soft-shadow addItem-save" type="submit">Save</button></div>
                </div>
              </form>
            </div>
          <!-- AddItem form ends -->
      </div>
      <!-- Congratulations modal -->
      <div class="mainSubmit-modal-container non-visible">
        <div class="mainSubmit-modal">
          <span class="cross close-modal">X</span>
          <h2>Congratulations!</h2>
          <p>Plan has been submitted for registration for the Covered Items as listed. Confirmation of Plan Registration will be emailed to customer <span class="purple-text">customer name</span> at <span
              class="purple-text">userEmail@emailaddress.com</span> </p>
          <div><a href="javascript:void(0)" class="zuc-btn zuc-btn-secondary u-soft-shadow margin-10 close-modal">ok</a></div>
        </div>
      </div>
      <!-- Congratulation modal ends -->
      <!-- Remove modal -->
      <div class="remove-planModal-container non-visible">
        <div class="remove-planModal">
          <span class="cross close-modal">X</span>
          <h2>Caution!</h2>
          <p>Removing Plan Registration will remove all data associated with this plan including Covered Items.</p>
          <h3 class="purple-text u-bold">Do you wish to continue?</h3>
          <div class="flex flex-row flex-vert-center flex-hor-center">
            <a href="#/" class="zuc-btn zuc-btn-hollow" type="button">Yes</a>
            <a href="#/" class="zuc-btn zuc-btn-hollow close-modal" type="button">No</a>
          </div>
        </div>
      </div>
    </section>
    </div>
  </section>
  <!-- Cancel plan -->
  <div class="cancel-caution-container remove-planModal-container non-visible">
    <div class="cancel-caution remove-planModal">
      <span class="cross close-modal">X</span>
      <h2>Caution!</h2>
      <p>Plan Registration will be cancelled. A cancellation confirmation will be emailed to the customer. Any invoices or adjustments will be reflected on the next billing cycle.</p>
      <h3 class="purple-text u-bold">Do you wish to continue?</h3>
      <div class="flex flex-row flex-vert-center flex-hor-center">
        <a href="#/" class="zuc-btn zuc-btn-hollow close-modal" type="button">Yes</a>
        <a href="#/" class="zuc-btn zuc-btn-hollow close-modal" type="button">No</a>
      </div>
    </div>
  </div>
  </section>
  <!-- main page content ends -->
  <!-- Site Footer-->
  <footer class="">

  </footer>

  <!--  @*@if (LoadModal) { Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@ -->

  <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script>
</body>
<script type="text/javascript" src="../../Scripts/Zuc/js/srs-interactivity.js"></script>
</body>

</html>
