<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zucora Home: Event page</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/SRS-system.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- [ FONTS ]-->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
    <!-- [ JQUERY ]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- [ RESPONSIVE VIEWPORT ]-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

  <body>
        <!-- Site Navigation-->
    <div class="zuc-nav-wrapper srs-nav-container" data-nav-height>
      <!-- Main Navigation-->
      <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
        <!-- Nav Branding-->
        <a class="zuc-nav-brand" href="srs-login.html"><img src="../../Images/Zuc/images/SRS-logo-white.png"></a>
        <!-- Nav Links-->
        <div class="zuc-nav-links flex flex-hor-end flex-hor-between flex-no-wrap flex-vert-center">
          <!-- First -->
          <div class="zuc-nav-dropdown"><span class="u-uppercase">Plans</span>
             <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
                <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
                  <!-- Dropdown links -->
                  <div class="zuc-dropdown-column">
                    <a href="plan-registration-one.html" title="" aria-role="menu-item">Plans</a>
                    <a href="#/" title="" aria-role="menu-item">Plan Inquiry</a>
                    <a href="#/" title="" aria-role="menu-item">Cancel Plan</a>
                    <a href="#/" title="" aria-role="menu-item">Plan Reporting</a>
                  </div>
                </div>
              </div>
          </div>
          <div class="zuc-nav-dropdown"><span class="u-uppercase">Orders</span>
            <!-- Drop Down-->
            <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
              <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
                <!-- Dropdown links -->
                <div class="zuc-dropdown-column">
                  <a href="#/" title="" aria-role="menuitem">Entry</a>
                  <a href="#/" title="" aria-role="menuitem">Order History</a>
                </div>
              </div>
            </div>
          </div>

           <div class="zuc-nav-dropdown "><i class="fa fa-user-alt"></i><span class="u-uppercase"> User name</span>
            <div class="zuc-hidden-menu" data-hidden-menu aria-hidden="true" aria-role="menu">
              <div class="zuc-dropdown-content flex flex-hor-between flex-vert-stretch">
                <!-- Dropdown links -->
                <div class="zuc-dropdown-column">
                  <a href="#/">Profile</a>
                  <a href="#/">Log out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Mobile Nav Button-->
        <div class="zuc-menu">
          <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span>
          </div>
        </div>
      </nav>
      <!-- Mobile Navigation-->
    </div>
    <!-- Main page content-->
    <section class="retailer-profile-container">
      <h1 class="srs-heading">Retailer Profile</h1>
      <div class="two-grid-column mobile-column">
        <div class="">
          <h3 class="profileBox-heading">Retailer</h3>
          <form class="retailer-name-form">
            <input type="text" name="retailer-store-name" placeholder="Store Name">**note: should come from data
          </form>
        </div>
        <div class="">
          <form class="retailer-info-form">
            <!-- Adding planRegis-form class for styling only -->
            <div class="flex flex-row flex-vert-center">
              <label for="hst-gst">HST/GST:</label>
              <input type="text" required="" name="hst-gst" placeholder="HST/GST Number" value="" id="">
            </div>
            <div class="flex flex-row flex-vert-center">
              <label for="Buying Group">Buying Group:</label>
              <p>Cantrex | Nationwide &nbsp; CX-1256768-TRK</p>
            </div>
            <div class="flex flex-row flex-vert-center">
              <label for="Lang-pref">Language Pref:&nbsp;</label>
              <select name="lang-pref">
                <option value="English">English</option>
                <option value="French">French</option>
              </select>
            </div>
          </form>
        </div>
      </div>
      <!-- 1st Two grid columns ends-->
      <div class="two-grid-column mobile-column">
        <div class="address-location-container">
          <div class="billingAddress-container">
            <h3 class="profileBox-heading">Billing Address:</h3>
            <div class="profile-boxStyle">
              <form class="profile-address">
                  <div class="flex flex-row flex-vert-center">
                    <label for="profile-address-1">Address-1:</label>
                    <input type="text" required="" name="profile-address-1" placeholder="Address line 1" value="" id="">
                  </div>
                  <div class="flex flex-row flex-vert-center">
                    <label for="profile-address-2">Address-2:</label>
                    <input type="text" required="" name="profile-address-2" placeholder="Address line 2" value="" id="">
                  </div>
                  <div class="flex flex-row flex-vert-center mobile-column">
                    <div class="flex flex-row flex-vert-center">
                        <label for="profile-address">City:</label>
                        <select name="province">
                            <option value="" disabled="" selected="">Choose your province</option>
                            <option value="AB">Alberta</option>
                            <option value="BC">British Columbia</option>
                            <option value="MB">Manitoba</option>
                            <option value="NB">New Brunswick</option>
                            <option value="NL">Newfoundland and Labrador</option>
                            <option value="NT">Northwest Territories</option>
                            <option value="NS">Nova Scotia</option>
                            <option value="NU">Nunavut</option>
                            <option value="ON">Ontario</option>
                            <option value="PE">Prince Edward Island</option>
                            <option value="QC">Québec</option>
                            <option value="SK">Saskatchewan</option>
                            <option value="YT">Yukon</option>
                        </select>
                      </div>
                      <div class="flex flex-row flex-vert-center">
                        <label for="profile-postalCode">Postal:</label>
                        <input type="text" required="" name="profile-postalCode" placeholder="Postal code" value="" id="">
                      </div>
                  </div>
              </form>
            </div>
          </div>
          <div class="locations-container margin-top-1">
            <h3 class="profileBox-heading">Our Locations<a href="#/" class="profileBox-heading">+</a></h3>
            <div class="profile-boxStyle new-planAdd-detail">
              <table class="">
                <thead>
                  <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Location Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td data-label="CODE">101</td>
                    <td data-label="Location Name">Westmall <a href="javascript:void(0)"><i class="fa fa-pencil-alt"></i></a></td>
                    <td data-label="Address"> #3-220 Wyland Rd, Maple, ON M5L 4K9</td>
                    <td data-label="Phone">519-889-0224</td>
                  </tr>
                  <tr>
                    <td data-label="CODE">102</td>
                    <td data-label="Location Name">Sunnyridge  <a href="javascript:void(0)"><i class="fa fa-pencil-alt"></i></a></td>
                    <td data-label="Address">9834 Garvin Street, Maple, ON</td>
                    <td data-label="Phone">519-889-0224</td>
                  </tr>
                </tbody>

              </table>
            </div>
            <div class="flex flex-row margin-top-1">
              <a href="#/" class="simple-link u-uppercase">Change password</a>&nbsp;<i class="fa fa-pencil-alt purple-text"></i>
            </div>
          </div>
        </div>
        <div class="contacts-container">
          <h3 class="profileBox-heading">Our People <a href="#/" class="profileBox-heading">+</a></h3>
        </div>
      </div>
    </section>
    <!-- main page content ends -->
         <!-- Site Footer-->
    <footer class="">
     
    </footer>
    <div class=""></div>
   <!--  @*@if (LoadModal) { Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@ -->
    
    <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script></body>

  </body>

</html>