<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zucora Home: Event page</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../Content/Zuc/styles/bootstrap.min.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/styles9d66868d59cc90dfcd5c.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/new_styles.css" rel="stylesheet">
    <link href="../../Content/Zuc/styles/SRS-system.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- [ FONTS ]-->
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href="https://use.typekit.net/ovc0ozw.css" rel="stylesheet">
    <!-- [ JQUERY ]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- [ RESPONSIVE VIEWPORT ]-->
    <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

  <body>
        <!-- Site Navigation-->
    <div class="zuc-nav-wrapper srs-nav-container" data-nav-height>
      <!-- Main Navigation-->
      <nav class="zuc-main-nav flex flex-hor-start flex-hor-between flex-vert-center u-uppercase" data-main-navigation>
        <!-- Nav Branding-->
        <a class="zuc-nav-brand" href="#/"><img src="../../Images/Zuc/images/SRS-logo-white.png"></a>
        <!-- Mobile Nav Button-->
        <div class="zuc-menu">
          <div class="zuc-menu-open" role="button" data-open-menu aria-label="Mobile Navigation"><span class="hidden" aria-hidden="true" aria-label="Open mobile menu">Mobile Menu</span>
          </div>
        </div>
      </nav>
      <!-- Mobile Navigation-->
    </div>
    <!-- Main page content-->
     <section class="srs-login-container center">
        <h1 class="sr-only">Login screen for smarter retailer system.</h1>
        <div class="zuc-modal-content srs-login-content">
          <!-- Place Modal Content Here-->
        <div class="zuc-modal-subtitle u-text-center">Login</div>
        <!-- User Email-->
        <div class="zuc-input-group center">
          <div class="zuc-input-name">Username</div>
          <label class="u-screenreader" for="field-username">Username</label>
          <input type="text" required data-required id="field-username" name="srs-username" placeholder="Username">
        </div>
        <!-- User Password-->
        <div class="zuc-input-group center">
          <div class="zuc-input-name">Password</div>
          <label class="u-screenreader" for="field-password">User Password</label>
          <input type="password" required data-required name="password" placeholder="Password">
          <a class="zuc-input-link" href="/Zuc/formforgotpassword" title="Password Reset"><span class="u-highlight">Reset password</span></a>
        </div>
        <!-- Remember me radio button -->
        <div class="remember-me">
            <input type="checkbox" value="remember-me-checked" name="remember-me"> Remember me</div>
        <!-- Submit Button-->
        <div class="form-buttons">
          <p>**Note: Landing page from here will be decided as per the user type.For more information or questions please ask Trevor Brimson.</p>
          <a href="plan-registration-one.html"><button class="zuc-btn zuc-btn-secondary --full-width">Login</button></a>
        </div><!-- Button div ends-->
        </div>
     </section>
    <!-- main page content ends -->
         <!-- Site Footer-->
    <footer class="">
     
    </footer>
    <div class=""></div>
   <!--  @*@if (LoadModal) { Html.RenderAction("ProductsServicesAvailabilityModal", "Zuc"); }*@ -->
    
    <script type="text/javascript" src="../../Content/Zuc/js/build9d66868d59cc90dfcd5c.js"></script></body>

  </body>

</html>