/* variables*/
$header-fonts: 'PublicoHeadline', aktiv-grotesk, Helvetica, sans-serif;
$para-fonts: 'aktiv-grotesk', Helvetica, sans-serif;


$mobile-width: 768px;
$tablet-width:769px;
$laptop-width:980px;
$max-laptop-width:1200px;
$desktop-width:1440px;
$desktop-large-width:1980px;

$light-purple:#A3ACFF;
$zucora-purple:#434DA0;
$zucora-mint-green:#70E9B2;
$grey-text: #36384B;
/* Default styling*/

h1, h2, h3, h4, h5, h6{
	font-family: $header-fonts;
}
p {
  font-family: $para-fonts;
  font-size: 18px;
}

//Mixins and extends

@mixin margin($property){
	margin:$property;
}

%modal{
	position: fixed;
		z-index:1;
		left:0;
		top:0;
		width:100%;
		height: 100%;
		overflow:auto;
		background-color: rgba(0,0,0,0.4);
}

%modal-background{
			border:2px solid $grey-text;
			background:white;
			width:60%;
			margin:15% auto;
}

%label{
	font-family: "aktiv-grotesk", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    margin-right: 1em;
}

%select{
			width:70%;
			height: 50px;
	    	border: 2px solid $grey-text;
		    border-radius: 10px;
		    background-color: $light-purple;
		    color: $grey-text;
		    font-size: 16px;
		    font-family: $para-fonts;
}

%input{
				background-color: #FFFFFF;
				border: 2px solid $grey-text;
				width:70%;
				font-size: 16px;
				font-family: $para-fonts;
}

%simple-link{
			text-transform: uppercase;
    		text-decoration: underline;
    		font-family: $para-fonts;
    		font-weight: 700;
    		color:$grey-text;
}

%form-cross{
			content:'X';
			float: right;
			color: $zucora-mint-green;
			font-weight: 300;
			cursor: pointer;
			font-family: cursive;
}
/*Common classes*/
.purple-background{
		background-color: $zucora-purple;

		h2{
			color: white;
			font-size: 18px;
			padding:1em;
			font-family: $para-fonts;
			font-weight: 700;
		}
	}
.purple-text{
				color: $zucora-purple;
				font-weight: 500;
				font-family: $para-fonts;
			}

.grey-text{
	color:$grey-text !important;
}
.profileBox-heading{
	font-family: $para-fonts;
	color: $zucora-purple;
	font-size:24px;
	font-weight:700;

}
.two-grid-column{
	display: grid;
	grid-template-columns: 50% 50%;
}
.srs-heading{
	font-family: $header-fonts;
	font-weight: 700;
	color: $zucora-purple;
	font-size:3.2em;
	margin-top:13%;
	text-align: center;
}
.simple-link{
	@extend %simple-link;
}

.margin-10{
	@include margin(10px);
}
.u-underline{
	text-decoration: underline;
}
/*Header*/
.srs-nav-container .zuc-main-nav{
	/*padding:1em 8%;*/
}

/* Login screen*/

.srs-login-container{
	width:40%;
	margin-top:12%;

	.srs-login-content{
		.zuc-modal-subtitle{
			font-size: 2.5em;
			font-family: $para-fonts;
			padding:1em 0;
		}
		.zuc-input-group{
			padding:10px 0;
			.zuc-input-name{
				font-family: $para-fonts;
				font-size:1.5em;
			}
			input[type=date], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url]{
				height:70px;
				background-color: rgba(163, 172, 255,0.2);
				border:0;
				color: $grey-text;
			}
			a{
				font-size:0.95em;
				position: relative;
				top:10px;
				padding-bottom: 10px;
			}
		}
			.remember-me{
				margin:5% 0 0 0;
				input[type="checkbox"]{
					margin:0 auto;
				}

			}
			.form-buttons{
				margin-top:5%;
			}	
	}
}

/*Plan registration styling*/

.plan-registration-container{
	border:2px solid #36384B;
	height:auto;
}

.planRegis-form{
		width:60%;
		display: block;
		margin: 0 auto;
		padding:2em 0;

		div{
			padding:10px 0;
			justify-content: flex-end;
			i{
				font-size: 2em;
				color: $zucora-purple;
				margin-right: 10px;
			}
		}

		.twoInput-fields 
		{
			input{
				width:33%;
			}

			input:first-of-type{
					
					margin-right:4%;
				}
		}

		label{
			@extend %label;
		}

		select{
			@extend %select;
		}

		input{
				@extend %input;
			}
	}

.plan-registration-box{
	height:auto;
	border:2px solid #36384B;
	width:90%;
	margin-bottom:2em;
	display: none;
	.purple-background{
		background-color: $zucora-purple;

		h2{
			color: white;
			font-size: 18px;
			padding:1em;
			font-family: $para-fonts;
		}
	}

	.new-planAdd-title {
		padding:0 10px 14px 10px;
		transition: all ease-in 0.5s;
		-webkit-transition:all ease-in 0.5s;
		p{
			font-family: $para-fonts;
			font-weight: 700;
			cursor: pointer;
		 span{
				text-transform: uppercase;
				padding-left:5px;
			}

			/*::before{
				//content: "\2212";
				content:'\002B';
			    color: $grey-text;
			    font-size: 16px;
			    float: left;
			    font-weight: bold;
			    border:2px solid $grey-text;
			    padding:0 6px;
			    //display: none;
			    cursor: pointer;
			}*/
			i{
				font-size:1.5em;
				color:$grey-text;
			}
		}
	}
}


.new-planAdd-detail{
	display: none;
	border: 1px solid $grey-text;
	margin: 10px;
	table{
		border-collapse: collapse;
		margin:0;
		padding:0;
		width:100%;
		table-layout: fixed;

		tr{
				text-align: center;
				font-family: $para-fonts;

				&:hover{
					background-color:$zucora-mint-green;
					transition: background-color ease-in 0.5s;
				}
			}
		th,td{
			padding: 5px;
			line-height:22px;
			//overflow: hidden;
			word-break: break-all;
			i{
				color: $zucora-purple;

			}
		}
		 th{
			color: $zucora-purple;
			font-weight: 700;
		}
	}
}
.planRegis-controls{
	display: flex;
	width:80%;
	margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;

    div{
    	a{
    		@extend %simple-link;
    	}
    }
}



.popup-modals-container{
	/*This is pop up section class*/
	.addItem-modal{
		@extend %modal;
		/*This is all modal div class*/
		.addItem-form{
			@extend %modal-background;
			
			.purple-background{
				h2::after{
					@extend %form-cross;
				}
			}

			.planRegis-form{
					div{
						padding:0;

					}

					.addItem-quantity{
						
						.label{
							font-family: $para-fonts;
							font-weight: bold;
							font-size: 18px;
							line-height: 22px;
							background: none;
							color: $grey-text;
							text-shadow: none;
							margin-right:1em;
						}

						.button-minus, .button-plus{
						    border-radius: 50%;
						    width: auto;
						    margin: 5px;
						    font-size: 2em;
						    vertical-align: middle;
						    text-align: center;
						    
						}
						.button-minus{
							padding:2px 8px 8px 8px;
						}
						.button-plus{
							padding:5px;
						}

						.quantity-input{
							width:15%;
							text-align: center;
							color: $grey-text;
							border-radius: 0;
							border: 2px solid #C8C8C8;
							//color: #898A8D;
						}
					}

					.margin-10{
						@include margin(10px);
					}
				}
		}
	}


	/*Congratulation modal*/
	.mainSubmit-modal-container,.remove-planModal-container{
		@extend %modal;

		.mainSubmit-modal,.remove-planModal{
			@extend %modal-background;

			h2{
				font-family: $header-fonts;
				font-weight: 900;
				font-size:3em;
				color: $zucora-purple;
				text-align: center;
				padding: 1em;
			}
			.cross{
					float: right;
					color: $zucora-mint-green;
					font-weight: 300;
					cursor: pointer;
					font-family: cursive;
					font-size: 1.5em;
					padding: 10px;
				}

				p{
					width: 75%;
				    text-align: center;
				    margin: 0 auto;
				    font-size: 1.75em;
				}

				div{
					text-align: center;
					padding:1em;
				}
			} 
		} 

		.remove-planModal-container{
		
			.remove-planModal{
				h3{
					text-align: center;
					margin-top:1em;
				}

				div{
					a{
						margin:0 10px;
					}

					.zuc-btn-hollow{
						border:2px solid $zucora-purple;
						color:$zucora-purple;
					}
				}
			}
		}


}//popup modal container ends

/*Retailer Profile*/
	.retailer-profile-container{
		width:80%;
		margin:0 auto;

		.two-grid-column{

		/*div{
			padding:0 10px;
		}*/	
		.retailer-info-form{
			div{
				padding:5px 0;
				justify-content: flex-end;

				p{
					width:70%;
					font-weight: bold;
				}
			}
			label{
				@extend %label;
				}

				input{
					@extend %input;
				}

				select{
					@extend %select;
				}
			}
		}

		.profile-boxStyle{
			border:2px solid $grey-text;
			/*padding:10px;*/
		}

		.profile-address{
			padding:10px;
			label{
				@extend %label;
				//text-align: left;
				//margin-right:0;
			}

			input{
				@extend %input;
			}

			select{
				@extend %select;
			}
		}
		.locations-container{
			.new-planAdd-detail{
				display: block;
				/*margin:0 auto;*/
				padding: 0;

				table{
					tr{
						text-align: left;
					}

					thead{
						tr{
							th:nth-child(1){
								width:10%;
								
							}
							th:nth-child(2){
								width:20%;
							}
							th:nth-child(3){
								width: 30%;
							}
							th:nth-child(4){
								width: 20%;
							}
						}
					}
				}
			}
		}
		.contacts-container{
			.grey{
				color:grey;
			}
			padding:0;
			.new-planAdd-detail{
				display: block;
			}

			table{
				thead{
					tr{
						th{
							border-right:1px solid #d3d3df;
						}
					}
				}
				tbody{
					tr{
						td{
							border-right:1px solid #d3d3df;
						}
					}
				}
			}
		}		
	}

	.shipping-locations-modal{
		@extend %modal;
		
		.shipping-locations-form{
			@extend %modal-background;

			.purple-background{
				h2::after{
					@extend %form-cross;
				}
			}

			.planRegis-form{
					width:100%;
					padding:1em;
					
					div{
						justify-content: space-between;
						width:90%;
						margin:0 auto;
					}
					label{
						@extend %label;
						padding:0 5px;
						text-align: left;
						margin:0;
					}

					input{
						@extend %input;
					}

					select{
						@extend %select;
					}
					h3{
						font-family: $para-fonts;
						margin-bottom: 0;
						font-weight: 700;
						padding-left:5%;
					}

					.srs-checkmark{

					}
				}

				.width-45{
					width:45%;
				}
		}
	}

	.contacts-form-modal{
		@extend %modal;

		.contacts-form{
			@extend %modal-background;
			.purple-background{
				h2::after{
					@extend %form-cross;
				}
			}
			.planRegis-form{
				width:100%;
				padding:1em;
				div{
						justify-content: space-between;
						width:90%;
						margin:0 auto;
					}
					label{
						@extend %label;
						padding:0 5px;
						text-align: left;
						margin:0;
					}

					input{
						@extend %input;
					}

					select{
						@extend %select;
					}
			}
			.contact-radio{
				    display: grid;
				    grid-template-columns: 30% 7% 10% 7% 10%;
				    justify-content: flex-start;
				    align-items: center;
				    padding: 5px;

				 input[type="radio"]{
				 	height: 30px;
				 }
			}
		}
	}
/*Plan inquiry screen*/
.plan-inquiry-container{
	width:85%;
	max-width:100%;
	/*padding:0 1em;*/

	.search-container{
		margin-top:7%;
		/*grid-gap: 2em 2em;*/
	}

	.manual-search-container{
		width:100%;
		max-width:100%;
		height:auto;
		display: grid;
		grid-row-gap: 2em;
		padding: 10px;
		margin:0 auto;
		.date-filter-box{
			border:2px solid $grey-text;
			height:auto;
			p{
				width: 100%; 
			   text-align: center; 
			   border-bottom: 1px dashed $grey-text; 
			   line-height: 0.1em;
			   margin: 20px 0 20px; 
				
				span{
					background:#fff; 
				 	padding:0 10px; 
				}
			}

			.date-filter-form{
				max-width:100%;
				height:auto;
				display: flex;
				flex-flow: row;
				justify-content: space-around;
				align-items: center;

				div:nth-child(1){
					width:100%;
					height:auto;
					/*background-color: yellow;*/
				}

				div:nth-child(2){
					width:100%;
					height:auto;
					
				}

				input{
					margin:5px;
				}
				i{
					font-size: 1.5em;
					color:$zucora-purple;
				}

				span{
					font-size:18px;
					font-weight: 700;
					font-family: $para-fonts;
					margin-left:2em;
				}

			}

		}


		.filter-param-box{
				display: grid;
				grid-template-columns: auto auto auto;
				grid-gap:1em 1em;
				max-width:100%;
				height:auto;

				.filter-box{
					border:2px solid $grey-text;
					background-color: white;
					min-height: 300px;
					height:auto;

					p{
						padding:10px;
						cursor: pointer;
						&:hover{
							background-color: $zucora-mint-green;
							transition: all ease-in 0.5;
						}
					}
				}

			.selected{
				background-color: $zucora-mint-green;
				transition: all ease-in 0.5;
			}
		}
	}

	.advance-search-container{
		width:100%;
		max-width:100%;
		height:auto;
		display: grid;
		grid-row-gap: 2em;
		padding:10px;
		margin:0 auto;

		.advance-search-form{
			border:2px solid $grey-text;
			
			.planRegis-form{
				width:90%;
				padding:1em 0;
				div{
					padding:0;
				}
				label{
					@extend %label;
				}

				input{
					@extend %input;
				}

				select{
					@extend %select;
				}

				a{
					margin:5px 10px;
				}
			}
		}
	}

	.allPlans-container{
		width:100%;
		margin:3em auto;
		border:2px solid $grey-text;

		.title{
			p{
				margin:0 10px;
			}
		}

		.new-planAdd-detail{
			display: block;
			border:2px solid #d3d3df;

			table{
				td{
					i{
						cursor: pointer;
					}
				}
			}
		}
	}	
}

.plan-cancelation-container{
	width:85%;
	max-width:100%;
	height: auto;

	.container-border{
				border:2px solid $grey-text;
				padding:2em 0;
				max-width:100%;
				display: flex;
				flex-direction: column;
				margin: 3em 0;
			.plan-cancelation{
				
				display: grid;
				grid-template-columns: 45% 55%;
				justify-content: center;
				align-items: flex-start;

				.plan-search-field{
					
					height:auto;
					padding:0 2em;
					width:100%;

					.search-form{
						div{
							button{
								height: 50px;
							    border: 2px solid $grey-text;
							    border-radius: 10px;
							    background: $zucora-purple;
							    position: absolute;
							    left: 80%;
							    width: 20%;

							    i{
						    	    font-size: 1.5em;
    								color: white;
							    }
							}
						}
					}
					.search-param-result{

					}
				}
				.reason-container{
					
					height:auto;
					padding:0 2em;
					width:100%;

					textarea{
						border:2px solid $grey-text;
						border-radius: 0;
						height:350px;
						font-size:16px;
					}
				}
			}

			.search-plan-details{
				margin-top:3em;
					.plan-registration-box{
						display: block;
						width:95%;
						margin-bottom: 0;

						.new-planAdd-detail{
							/*display: block;*/
						}
					}
				}
		}

		.warning-text{
			color:red;
		}
		.cancelPlan-Button{
			/*margin-right:2.5em;*/
		}
}
/*Media queries */
@media screen and (max-width: $mobile-width){

	.srs-login-container{
		width:90%;
		margin-top:20%;
	}
	.srs-heading{
		margin-top:20%;
	}

	.planRegis-form{
		width:90%;
	}

	.new-planAdd-detail{
		border:none;
		table{
			border:0;

			thead{
				border:none;
				clip:react(0 0 0 0);
				width:1px;
				height:1px;
				margin:-1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
			}

			tr{
				border-bottom: 1px solid $grey-text;
				display: block;
				padding:5px 0;
			}
			td{
				display: block;
				font-size: 0.8em;
				text-align: right;
			}

			td::before{
					content:attr(data-label);
					float:left;
					font-weight: 700;
					color: $zucora-purple;
				}
		}
	}
.popup-modals-container{
	/*This is pop up section class*/
	.addItem-modal{
		overflow: auto;
	.addItem-form{
			width:90%;
			margin:30% auto;

			.mobile-column{
					div{
						justify-content: space-around;
					}
				}
			}
		}	
	}
	.mobile-column{
		flex-direction: column;
		grid-template-columns: 100%;
	}

	.retailer-profile-container{
		width:100%;
	}

	.shipping-locations-modal{
		.shipping-locations-form{
			width:90%;
			margin-top:30%;
			.planRegis-form{
				div{
					width:100%;
				}
				input{
					width:100%;
				}
				select{
					width: 100%;
				}
			}
		}
		.width-45{
			width:100%;
		}
	}

	.plan-inquiry-container{
		.manual-search-container{
				.date-filter-box{
					.date-filter-form{
						flex-flow: column; 
					}	
				}
			}
		}
		
			.plan-cancelation-container{
				width:100%;
				max-width:100%;
				height: auto;

			.container-border{
				.plan-cancelation{
					display: grid;
					grid-template-columns: 100%;
					justify-content: center;
					
					.plan-search-field{
						
					

						.search-param-result{

						}
					}
					.reason-container{
						
						margin-top:2em;

						textarea{
							border:2px solid $grey-text;
							border-radius: 0;
							height:350px;
						}
					}
				}
			}
		} 

		.popup-modals-container .addItem-modal .addItem-form, .popup-modals-container .mainSubmit-modal-container .mainSubmit-modal, .popup-modals-container .mainSubmit-modal-container .remove-planModal, .popup-modals-container .remove-planModal-container .mainSubmit-modal, .popup-modals-container .remove-planModal-container .remove-planModal, .shipping-locations-modal .shipping-locations-form, .contacts-form-modal .contacts-form{
			width:100%;
			margin:50% auto;
		} 
}

@media screen and (min-width:$tablet-width){
	.srs-nav-container{
		.zuc-main-nav{
			.zuc-nav-brand{
			width:15vw;
			max-width:100%;
			}	
		}
	}
}

@media screen and (max-width:$max-laptop-width){

	.plan-inquiry-container{
	width:100%;
	padding:0 1em;

	.search-container{
		margin-top:7%;
		grid-template-columns: 100%;
		
	}

	.manual-search-container{
		width:100%;
		max-width:100%;
		height:auto;
		display: grid;
		grid-row-gap: 2em;

		.filter-param-box{
			grid-template-columns: auto;

		}
	}

	.advance-search-container{
			width:100%;
			max-width:100%;
			height:auto;
		}

		.allPlans-container{
			width:100%;
		}	
	}	

}