/* variables*/
$header-fonts: 'PublicoHeadline', aktiv-grotesk, Helvetica, sans-serif;
$para-fonts: 'aktiv-grotesk', Helvetica, sans-serif;


$mobile-width: 768px;
$tablet-width:769px;
$laptop-width:980px;
$max-laptop-width:1024px;
$desktop-width:1440px;
$desktop-large-width:1980px;

$light-purple:#A3ACFF;
$zucora-purple:#434DA0;
$grey-text: #36384B;
/* Default styling*/

h1, h2, h3, h4, h5, h6{
	font-family: $header-fonts;
}
p {
  font-family: $para-fonts;
  font-size: 18px;
}


/*Header*/
.srs-nav-container .zuc-main-nav{
	padding:1em 8%;
}

/* Login screen*/

.srs-login-container{
	width:40%;
	margin-top:12%;

	.srs-login-content{
		.zuc-modal-subtitle{
			font-size: 2.5em;
			font-family: $para-fonts;
			padding:1em 0;
		}
		.zuc-input-group{
			padding:10px 0;
			.zuc-input-name{
				font-family: $para-fonts;
				font-size:1.5em;
			}
			input[type=date], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url]{
				height:70px;
				background-color: rgba(163, 172, 255,0.2);
				border:0;
				color: $grey-text;
			}
			a{
				font-size:0.95em;
				position: relative;
				top:10px;
				padding-bottom: 10px;
			}
		}
			.remember-me{
				margin:5% 0 0 0;
				input[type="checkbox"]{
					margin:0 auto;
				}

			}
			.form-buttons{
				margin-top:5%;
			}	
	}
}

.srs-heading{
	font-family: $header-fonts;
	font-weight: 700;
	color: $zucora-purple;
	font-size:3.2em;
	margin-top:13%;
	text-align: center;
}
.plan-registration-container{
	border:2px solid #36384B;
	height:auto;
}

.planRegis-form{
		width:60%;
		display: block;
		margin: 0 auto;
		padding:2em 0;

		div{
			padding:10px 0;
			justify-content: space-between;
			i{
				font-size: 2em;
				color: $zucora-purple;
			}
		}

		.twoInput-fields 
		{
			input{
				width:40%;
			}

			input:nth(1){
					margin-left:10%;
				}
		}

		label{
			font-family: $para-fonts;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			text-align: right;

			/*flex-grow: 2;*/
		}

		select{
			width:70%;
			height: 50px;
	    	border: 2px solid $grey-text;
		    border-radius: 10px;
		    background-color: $light-purple;
		    color: $grey-text;
		    font-size: 16px;
		    /*flex-grow: 8;*/
		    font-family: $para-fonts;
		}

		input{
				background-color: #FFFFFF;
				border: 2px solid $grey-text;
				/*flex-grow: 8;*/
				width:70%;
				font-size: 16px;
				/*margin:0 10px;*/
				font-family: $para-fonts;
			}
	}

.plan-registration-box{
	height:auto;
	border:2px solid #36384B;
	width:90%;
	margin-bottom:2em;
	display: none;
	.purple-background{
		background-color: $zucora-purple;

		h2{
			color: white;
			font-size: 18px;
			padding:1em;
			font-family: $para-fonts;
		}
	}

	.new-planAdd-title {
		padding:0 10px 14px 10px;
		p{
			font-family: $para-fonts;
			font-weight: 700;
		 span{
				text-transform: uppercase;
				padding-left:5px;
			}

			::before{
				//content: "\2212";
				content:'\002B';
			    color: $grey-text;
			    font-size: 16px;
			    float: left;
			    font-weight: bold;
			    border:2px solid $grey-text;
			    padding:0 6px;
			    display: none;
			}
		}
	}
}


.new-planAdd-detail{
	display: none;
	border: 1px solid $grey-text;
	margin: 10px;
	table{
		border-collapse: collapse;
		margin:0;
		padding:0;
		width:100%;
		table-layout: fixed;

		tr{
				text-align: center;
				font-family: $para-fonts;
			}
		th,td{
			padding: 5px;
			line-height:22px;
			//overflow: hidden;
			word-break: break-all;
			i{
				color: $zucora-purple;

			}
		}
		 th{
			color: $zucora-purple;
			font-weight: 700;
		}
	}
}
.planRegis-controls{
	display: flex;
	width:80%;
	margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;

    div{
    	a{
    		text-transform: uppercase;
    		text-decoration: underline;
    		font-family: $para-fonts;
    		font-weight: 700;
    		color:$grey-text;
    	}
    }
}


/*Media queries */
@media screen and (max-width: $mobile-width){
	.srs-login-container{
		width:90%;
		margin-top:20%;
	}
	.srs-heading{
		margin-top:20%;
	}

	.planRegis-form{
		width:90%;
	}

	.new-planAdd-detail{
		border:none;
		table{
			border:0;

			thead{
				border:none;
				clip:react(0 0 0 0);
				width:1px;
				height:1px;
				margin:-1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
			}

			tr{
				border-bottom: 1px solid $grey-text;
				display: block;
				padding:5px 0;
			}
			td{
				display: block;
				font-size: 0.8em;
				text-align: right;
			}

			td::before{
					content:attr(data-label);
					float:left;
					font-weight: 700;
					color: $zucora-purple;
				}
		}
	}
}


@media screen and (min-width:$tablet-width){
	.srs-nav-container{
		.zuc-main-nav{
			.zuc-nav-brand{
			width:25vw;
			max-width:100%;
			}	
		}
	}
}